@charset "UTF-8";
/* CSS Document */

body {
	border-width: medium;
	border-style: solid;
	border-color: lightgrey;
	margin: 40px;
}

.if {
	width: auto;
	height: 505px;
	padding-top: 50px;
	background-color: black;
}

.if img {
	width: 400px;
	float: left
	
}

.if p {
	color: white;
	float: left;
	padding-top: 200px;
	width: 195px;
}


.text {
	width: auto;
	height: auto;
}

.text img {
	width: 150px;
	float: right;
	margin-right: 40px;
}

.text h1 {
	color: darkorange;
}
.text hr {
	margin-right: 100px;
}

.text h2 {
	color: lightgrey;
}

.text p {
	width: 360px;
}

.list p {
	font-weight: bold;
}