@charset "UTF-8";
/* CSS Document */

body {
	border-width: medium;
	border-style: solid;
	border-color: lightgrey;
	margin: 40px;
}

.if {
	width: auto;
	height: 505px;
	padding-top: 50px;
	background-color: black;
}

.if img {
	width: 400px;
	float: left
	
}

.if p {
	color: white;
	float: left;
	padding-top: 260px;
	width: 195px;
	
}


.text {
	width: auto;
	padding: 23px;
	margin-bottom: -30px;
}

.text img {
	width: 200px;
	float: right;
	margin-right: 40px;
	margin-top: -35px;
}

.text h1 {
	color: darkorange;
}
.text hr {
	margin-right: 100px;
	margin-top: -29px;
}

.text h2 {
	color: lightgrey;
	padding-left: 300px;
}

.text p {
	width: 360px;
}

.list {
	margin-bottom: 30px;
}
.list p {
	font-weight: bold;
	padding-left: 23px;
	margin-bottom: -10px;
}















